
#mainarea {
}


#errorarea {
    color: white;
    background: red;
}

.filelist {
    display: table;
}

.filerow {
    display: table-row;
}

.filepart {
    width: 50%;
    display: table-cell;
}

.sizepart {
    display: table-cell;
    padding-right: 5px;
}

.ttlpart {
    display: table-cell;
}

.hidden {
    visibility: hidden;
}

.expiring {
    color: red;
}
