.matrix-cell.matrix-highlight {
  opacity: 1 !important;
  pointer-events: auto;
}

.matrix-cell.matrix-highlight:hover {
  transform: scale(1.2);
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(.4, 2, .6, 1);
}

.matrix-cell.matrix-dim {
  opacity: 0.2;
}

.minimap-highlight {
  transform: scale(1.2);
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(.4, 2, .6, 1);
  pointer-events: auto;
}

.matrix-cell:hover {
  cursor: pointer;
}


/* Detail sidebar 内部标题样式 */
#detail-sidebar-title {
  color: inherit;
}

/* 确保stage-rect不显示抓取光标 */
.stage-rect {
  cursor: pointer !important;
}