h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
	page-break-inside: avoid;
}

hr {
	border-style: solid ;
}

a {
	color: #000;
}

.main_content pre,
.main_content code {
	font-family: monospace, monospace;
}

.main_content img
.main_content figure {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.main_content figcaption {
    margin: 0.5em 0 0 0;
    text-align: center;
    text-indent: 0;
	font-size: 80%;
	font-style: italic;
}


.main_content pre {
	line-height: 1.5em;
	margin: 0 0 0.5em;
	padding: 0.5em 1.5em;
	background-color: #fbfbfb;
	font-size: 80%;
	color: #2c2c2c;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: auto;
	word-break: keep-all;
	white-space: pre;
}

.main_content blockquote {
    margin: 1em 0;
    border-left: 0.2em solid #000;
    padding-left: 0.75em;
}

.main_content ol,
.main_content ul {
	padding-left: 1.5em;
	list-style-position: outside;
	margin: 0.5em 0;
}

.main_content table {
	width: 100%;
	border-collapse: collapse;
	page-break-inside: auto;
	font-size: 85%;
	line-height: 1.44;
	margin: 1.44em 0;
	background-color: #fbfbfb;
}

.main_content th, td {
	border: 0.1em solid black;
	padding: 0.5em;
	border-left: none;
	border-right: none;
}
