/* ************************************************ VARIABLES ************************************************ */

:root {
    --app-primary-color: #eb4d4c;
    --app-primary-color-rgb: 235, 77, 76;
    --app-secondary-color: #6c757d;
    --app-secondary-color-rgb: 108, 117, 125;

    /* sidebar */
    --app-sidebar-bg: #343a40 !important;
}
