# pyproject.toml

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "jbssdk"
version = "0.0.5"
authors = [
    { name = "Licheng Zhou", email = "licheng.zhou@cathay.fr" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.10"
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License"
]
dependencies = [
    "dotenv>=0.9.9",
    "httpx>=0.28.1",
    "markdown>=3.8.2",
    "pydantic>=2.11.7",
]

[tool.setuptools]
package-dir = {"" = "src"}
packages = {find = {where = ["src"]}}