body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #eee;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  padding: 2rem;
  text-align: center;
}

img.logo {
  width: 150px;
  margin-bottom: 1rem;
}

.caution-block {
  background-color: #fdd0ab;
  padding: 30px 40px 30px 40px;
  border: 1px solid #d46000;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.caution-block strong {
  color: #d46000;
}

.caution-block p,
.success-block p {
    margin-top: 12px;
}

.success-block {
  padding: 30px 40px 30px 40px;
  background-color: #c8f7c5;
  border: 1px solid #2e7d32;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.success-block strong {
  color: #2e7d32;
}

.caution-block a,
.success-block a {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.caution-block a {
  background-color: #d46000;
  color: #fff;
}

.caution-block a:hover {
  background-color: #a64b00;
}

.success-block a {
  background-color: #2e7d32;
  color: #fff;
}


footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #777;
}