[project]
name = "latch-asgi"
version = "1.0.6.dev3"
description = "ASGI python server"
authors = [
    { name = "Max Smolin", email = "max@latch.bio" },
]
dependencies = [
    "hypercorn[uvloop]<1.0.0,>=0.14.3",
    "latch-data-validation<1.0.0,>=0.1.3",
    "latch-o11y<1.0.0,>=0.1.4",
    "latch-config<1.0.0,>=0.1.6",
    "PyJWT[crypto]<3.0.0,>=2.6.0",
    "orjson<4.0.0,>=3.8.5",
    "opentelemetry-sdk<2.0.0,>=1.15.0",
    "opentelemetry-api<2.0.0,>=1.15.0",
]
requires-python = ">=3.11,<4.0"
readme = "README.md"

[project.license]
text = "CC0-1.0"

[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "black<25.0.0,>=24.2.0",
    "rich<14.0.0,>=13.7.0",
    "ruff<1.0.0,>=0.2.1",
]

[tool.pdm.build]
includes = [
    "latch_asgi",
]

[tool.black]
preview = true
target-version = [
    "py311",
]

[tool.ruff]
extend-select = [
    "F",
    "E",
    "W",
    "I",
    "N",
    "D",
    "UP",
    "YTT",
    "ANN",
    "ASYNC",
    "TRIO",
    "S",
    "FBT",
    "B",
    "A",
    "C4",
    "DTZ",
    "T10",
    "DJ",
    "EXE",
    "FA",
    "ISC",
    "ICN",
    "G",
    "INP",
    "PIE",
    "T20",
    "PYI",
    "PT",
    "Q",
    "RSE",
    "RET",
    "SLF",
    "SLOT",
    "SIM",
    "TID",
    "TCH",
    "INT",
    "ARG",
    "PTH",
    "TD",
    "PD",
    "PGH",
    "PL",
    "TRY",
    "FLY",
    "NPY",
    "AIR",
    "PERF",
    "FURB",
    "LOG",
    "RUF",
]
ignore = [
    "A002",
    "A003",
    "E402",
    "E501",
    "E741",
    "C408",
    "C901",
    "T201",
    "D415",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D107",
    "TRY003",
    "TRY301",
    "PLW2901",
    "PLR0911",
    "PLR0912",
    "PLR0913",
    "PLR0914",
    "PLR0915",
    "PLR0916",
    "PLR0917",
    "TD001",
    "TD003",
    "TD006",
    "TID252",
    "TCH002",
]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.format]
skip-magic-trailing-comma = true

[tool.pyright]
reportUnknownArgumentType = "none"
reportUnknownLambdaType = "none"
reportUnknownMemberType = "none"
reportUnknownParameterType = "none"
reportUnknownVariableType = "none"
reportUnusedImport = "warning"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
